<!DOCTYPE html>
<html>
<head>
   <title>CalendarThat</title>
   <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">
   <nav class="flex justify-between items-center p-4 bg-white shadow-sm">
       <h1 class="text-2xl font-bold">
        <a href="{% url 'home' %}">CalendarThat</a>
       </h1>
       <div class="space-x-1 flex">
           {% if user.is_authenticated %}
               <a href="{% url 'user_settings' %}" class="w-10 h-10 bg-blue-300 rounded-full flex items-center justify-center text-white">
                    {{ user.email|slice:":2"|upper }}
                </a>
           {% else %}
               <a href="{% url 'account_login' %}" class="flex w-24 h-10 bg-blue-500 rounded-md text-white items-center justify-center">
                Log In
            </a>
               <a href="{% url 'account_signup' %}" class="flex w-24 h-10 font-medium items-center justify-center">
                Sign Up
            </a>
           {% endif %}
       </div>
   </nav>
   
   {% block content %}
   {% endblock %}
</body>
</html>